.container{
	width:100% !important;
	padding:0px;
}
.list-group-item{
	padding:5px 10px !important;
	min-width:150px;
	width:48%;
	float:left;
}
.list-group-item:nth-child(even){
	float:right;
	
}
input[type=text]{
	width:300px;
}
.well{
	display:inline-block !important;
	min-width:100%;
}
.btn100{
	width:99%;
}
.btn50{
	width:49%;
}
.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #999;
	border-radius: 10px;
	margin: 0px 19px;
}